@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, all;
}

.break-words {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.min-w-0 {
  min-width: 0;
}

.whitespace-normal {
  white-space: normal;
}